*{
  padding:0;
  margin:0;
}
body{
    background-color:rgb(27, 80, 97);
    text-align:center;
}
.flex{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
h1{
   font-size:5rem; 
   
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5vmin;
}
.btn{
    height:18vmin;
    width:19vmin;
    border-radius:1rem;
    border:none;
    background-color: white;
    box-shadow :0 0 1rem rgb(6, 40, 50);
    font-size:8vmin;
    color:rgb(187, 70, 70)
   
}
.btn:hover{
    transition-duration: 5ms;
    color:blue;
    font: size 80px;;
}
#reset{
    padding:1rem;
   font-size:1.2rem;
    border-radius:7px;
    border:none;
    background-color:rgb(13, 19, 62);
    color:white;

}
#new{
    padding:1rem;
   font-size:1.2rem;
    border-radius:7px;
    border:none;
    background-color:rgb(13, 19, 62);
    color:white;

}
#p1{
    font-size:5vmin;
    color:white;
}
.container{
    height:100vmin;
    display:flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;

}
.hide{
    display:none;
}